/*Global*/
body {
  background: url("../img/background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Droid Serif', serif;
  font-size: 1.8em;
}

/*@font-face {
    font-family: 'Federation';
    src: url('../font/DS9_Title.ttf');
}*/

@font-face {
    font-family: 'federationds9titleregular';
    src: url('..font/ds9_title-webfont.woff2') format('woff2'),
         url('..font/ds9_title-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.container {
  width: 60%;
  border-radius: 2%;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .04em;
  font-weight: bold;
  font-size: 1.7em;
  font-family: 'Droid Sans', sans-serif;
}

/*Navbar*/

.navbar {
  background-color: #efb200;
  border: none;
  border-radius: 0;
  font-size: 1em;
  color: #fff;
}

.navbar-header {
  padding: 15px;
  text-align: center;
}

.navbar-brand {
  font-family: 'federationds9titleregular', serif;
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: 0.08em;
  color: #fff;
  text-align: center;
}

.navbar-brand a {
  color: #fff;
}

 a:hover {
  color: rgba(255, 255, 255, .5);
  -o-transition:.9s;
  -ms-transition:.9s;
  -moz-transition:.9s;
  -webkit-transition:.9s;
  transition:.9s;
}

.navbar-right {
  margin-top: 2.5%;
  font-size: .9em;
  padding-right: 2%;
}

/*Main content*/

#quark {
  width: 225px;
  border-radius: 100%;
  border: 10px solid #efb200;
  display: block;
  margin: auto;
}

#main-content {
  background: rgba(255,255,255,.95);
  margin-top: 3%;
  margin-bottom: 5%;
  padding: 2%;
}

.form-control {
  width: 75%;
}

label {
  font-family: 'Droid Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 0.9em;
}

#small-name {
  font-size: 0.75em;
  font-style: italic;
}

.checkbox-inline {
  font-family: 'Droid Serif', sans-serif;
  text-transform: none;
  letter-spacing: 0.02em;
}

#toppings {
  text-align: center;
}

.btn {
  background-color: #efb200;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .12em;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  color: #fff;
  background-color: #002c39;
  -o-transition:.9s;
  -ms-transition:.9s;
  -moz-transition:.9s;
  -webkit-transition:.9s;
  transition:.9s;
}

#copyright {
  font-size: 0.5em;
  color: #333;
  text-align: center;
}

/*Order Display Div*/
#order-display {
  display: none;
}

.vulcan {
  height: 30px;
}

/* Media queries */

  /* Shrink container*/
@media only screen and (min-width: 1024px) {
  .container {
    width: 60%;
  }
}
@media only screen and (max-width: 640px) {
  .container {
    width: 85%;
  }
}

  /*Hide subtitle*/

@media only screen and (min-width: 1024px) {
  .navbar-right {
    font-weight: bold;
  }
}
@media only screen and (max-width: 640px) {
  .navbar-right {
    display: none;
  }
}
